.Avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #f8a8cb;
    margin: 0 3px;

    &--md {
        width: 70px;
        height: 70px;
    }

    &--lg {
        width: 150px;
        height: 150px;
        box-shadow: 0 0 4px 0 rgba(163,163,163,1);
    }
}